@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  background-color: #363139;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    background: #981CEB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #D79FFD;
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
ul li a:hover{
    color: #fff;
    background: #981CEB;
}
ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    background: #981CEB;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}
