@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  background-color: #363139;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.howtochoose a{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.generalinfoTop{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
}

.generalinfoPic{
  width: 675px;
  height: 325px;
  margin: 1%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generalinfo{
  color: #D79FFD;
  font-size: 125%;
  display: flex;
  justify-content: center;
  margin: 2%;
  margin-top: 0;
  margin-bottom: 0;
}

.howtochooseBtn{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}

.howtochooseBtn a{
  color: #D79FFD;
}

.howtochoose{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  margin-bottom: 1%;
}

.generalinfoBtn{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}

.generalinfoBtn a, .generalinfoBtn a:visited, .generalinfoBtn a:active{
   color: #D79FFD;
   margin-bottom: 2%;
}

.gotoagree{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.gotoagreeBtn, .gotoagreeBtn:hover, .gotoagreeBtn:active, .gotoagreeBtn:visited{
   color: #D79FFD;
   font-size: 150%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}

.intelLogo{
  width: 650px;
  height: 180px;
  margin-left: 2%;
}

.amdLogo{
  width: 750px;
  height: 190px;
  margin-right: 2%;
}

.procText{
  color: #D79FFD;
  font-size: 120%;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.procText p{
  width: 740px;
  height: 410px;
  overflow: hidden;
}

.moreBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0;
  margin-left: 20%;
  margin-right: 20%;
}

.moreBtn a{
  color: #D79FFD;
}

.moreBtn button{
  font-size: 120%;
  width: 180px;
  height: 60px;
  background-color: #981CEB;
  color: #D79FFD;
  border: 0;
  border-radius: 30px;
}

.what, .what:active, .what:hover{
  color: #D79FFD;
}

.roww{
  color: #D79FFD;
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howtoText{
  color: #D79FFD;
  font-size: 120%;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.moreIntelTop{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  margin-top: 5px;
}

.morePic{
  width: 400px;
  height: 250px;
}

.chronoIntel{
  font-size: 100%;
}

/* TODO: логотип цифрового ветра, адаптивность, js скрипт на выезжающую сбоку на весь экран менюшку */
