@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  background-color: #363139;
  margin: 0;
  padding: 0;
  min-width: 760px;
}

a{
  text-decoration: none;
}

.howtochoose a{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.generalinfoTop{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
}

.generalinfoPic{
  width: 675px;
  height: 325px;
  margin: 1%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generalinfo{
  color: #D79FFD;
  font-size: 125%;
  display: flex;
  justify-content: center;
  margin: 2%;
  margin-top: 0;
  margin-bottom: 0;
}

.howtochooseBtn{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}

.howtochooseBtn a{
  color: #D79FFD;
}

.howtochoose{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  margin-bottom: 1%;
}

.generalinfoBtn{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}

.generalinfoBtn a, .generalinfoBtn a:visited, .generalinfoBtn a:active{
   color: #D79FFD;
   margin-bottom: 2%;
}

.gotoagree{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.gotoagreeBtn, .gotoagreeBtn:hover, .gotoagreeBtn:active, .gotoagreeBtn:visited{
   color: #D79FFD;
   font-size: 150%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1%;
}

.brandContainer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-width: 1600px;
  margin-bottom: 10px;
}

.brandBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bc2 .brandBlock{
  width: 40%;
}
.bc3 .brandBlock{
  width: 30%;
}
.logo{
    height:170px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.intelLogo{
  background-image: url("images/Intel_logo_2020.png");
}

.amdLogo{
  background-image: url("images/AMD_Logo.png");
}

.image{
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}

.socketImage{
  background-image: url("images/socket.png");
}

.cpuImage{
  background-image: url("images/processor.png");
}
.intelProcImage{
  background-image: url("images/intel.png");
}
.intelGenerationImage{
background-image: url("images/intelseries.png");
}
.intelSocketImage{
  background-image: url("images/lga.png");
}
.amdProcImage{
  background-image: url("images/amd.png");
}
.amdGenerationImage{
background-image: url("images/amdseries.png");
}
.amdSocketImage{
  background-image: url("images/am4.png");
}
.procText{
  color: #D79FFD;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.procText p{
  padding: none;
  overflow: hidden;
}

.moreBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0;
  margin-left: 20%;
  margin-right: 20%;
}

.moreBtn a{
  color: #D79FFD;
}

.moreBtn button{
  font-size: 120%;
  width: 180px;
  height: 60px;
  background-color: #981CEB;
  color: #D79FFD;
  border: 0;
  border-radius: 30px;
}

.what, .what:active, .what:hover{
  color: #D79FFD;
}

.roww{
  color: #D79FFD;
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howtoText{
  color: #D79FFD;
  font-size: 120%;
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.moreIntelTop{
  color: #D79FFD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  margin-top: 5px;
}

.morePic{
  width: 400px;
  height: 250px;
}

.chronoIntel{
  font-size: 100%;
}

.description{
  display: flex;
  flex-direction: row;
  width:80%;
  min-width: 1080px;
  margin: auto;
  margin-bottom: 20px;
}

.descriptionItem{
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: #D79FFD;
}
.link{
  color:#D79FFD;
  text-decoration: none;
  transition-duration: 0.2s;
}
.link:hover{
  color:#D79FFD;
  cursor: pointer;
}

@media screen and (max-width: 1600px){
  .brandContainer{
    min-width: 1200px;
    flex-direction: column;
  }
  .bc2 .brandBlock{
    width: 1200px;
    margin: auto;
    margin-bottom: 30px;
  }
  .bc3 .brandBlock{
    width: 1200px;
    margin: auto;
    margin-bottom: 30px;
  }
  .procText{
    margin: auto;
    width: 80%;
  }
  .moreBtn{
    margin-top: 10px;
  }
  ul{
    width: 99.5%;
  }
  .description{
    min-width: 1200px;
    flex-direction: column;
  }
  .d2 .descriptionItem{
    width: 100%;
    margin-bottom: 30px;
  }
  .howtoText{
    width: 75%;
  }
  .d3 .description.d3{
    width: 1180px;
    margin-bottom: 30px;
    margin: auto;
  }
}

@media screen and (max-width: 1200px){
  body{
    width: 96%;
  }
  .brandContainer{
    min-width: 0px;
    width: 100%;
    flex-direction: column;
  }
  .bc2 .brandBlock{
    width: 100%;
    margin-bottom: 30px;
  }
  .bc3 .brandBlock{
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  .procText{
    padding: 20px;
    width: 100%;
  }
  .moreBtn{
    margin-top: 10px;
  }
  ul{
    width: 103.75%;
  }
  .footer{
    width: 103%;
  }
  .description{
    min-width: 1200px;
    flex-direction: column;
  }
  .d2 .descriptionItem{
    width: 80%;
    margin-bottom: 30px;
  }
  .howtoText{
    width: 65%;
  }
  .d3{
    width: 1200px;
    margin-bottom: 30px;
    margin: auto;
  }
}


/* TODO: js скрипт на выезжающую сбоку на весь экран менюшку */
